* {
  font-family: "Outfit", sans-serif;
  transition: 0.7s ease-in-out;
}

body {
  background: linear-gradient(130deg, #9fa8da, white);
  min-height: 100svh;
}

.tasks-box {
  background: linear-gradient(120deg, #f5d3c4, #f2aebb);
  box-shadow: 0 0 10px;
  max-width: 550px;
  font-size: 1.1rem;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #18193f;
}

.task-add input:focus {
  transition: 0.7s ease-in-out;
  box-shadow: 0 0 16px hsl(231, 44%, 80%);
  border: 2px solid #9fa8da;
}
.task-add button {
  background-color: #9fa8da;
  border: 1px solid #9fa8da;
}
.task-add button:hover {
  background-color: #9fa8da;
  box-shadow: 0 0 17px #c4cae8;
  border: 1px solid #9fa8da;
}
.task-add button:active {
  background-color: #9fa8da;
  border: 1px solid #9fa8da;
}

.list-unstyled img {
  cursor: pointer;
}

.done {
  color: #a7aae1;
  text-decoration: line-through;
}

i {
  color: #18193f;
  font-size: 1.3rem;
  cursor: pointer;
}
